# Python ignore files
venv/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database & state
chroma_db/
scratch/

# Environment files and credentials
.env
.env.*

# Version control and editor files
.git
.github
.gitignore
.vscode
.idea
*.swp
*.bak
